* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 5%;
    left: 3%;
}

#next {
    margin-top: 5%;
    width: 5rem;
    height: 2rem;
}